
.label__checkbox {
    display: none;
}
.label__check {
    display: inline-block;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background: #F3F3F7;
    vertical-align: middle;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: border .3s ease;
    transition: border .3s ease;
}
.label__check i.icon-tick {
    opacity: 0.2;
    font-size: 10px;
    color: transparent;
    -webkit-transition: opacity .3s .1s ease;
    transition: opacity .3s .1s ease;
}
.label__check:hover {
    border: 3px solid rgba(0, 0, 0, 0.2);    
    
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}
.label__checkbox:checked + .label__text .label__check {
    -webkit-animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 1 forwards;
    animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 1 forwards;
}
.label__checkbox:checked + .label__text .label__check .icon-tick {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    -webkit-animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
    animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@-webkit-keyframes icon {
    from {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes icon {
    from {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes check {
   0% {
        transform: scale(1);
        border-width: 5px;
    }
    10% {
         transform: scale(1);
        opacity: 0.1;
        background: rgba(0, 0, 0, 0.2);
        border-width: 15px;
    }
    12% {
         transform: scale(1);
        opacity: 0.4;
        background: rgba(0, 0, 0, 0.1);
        border-width: 0;
    }
    50% {
        transform: scale(1.2);
        background: #00d478;
        border: 0;
        opacity: 0.6;
    }
    100% {
        transform: scale(1.2);
        background: #00d478;
        border: 0;
        opacity: 1;
    }
}
@keyframes check {
    0% {
        transform: scale(1);
        border-width: 5px;
    }
    10% {
         transform: scale(1);
        opacity: 0.1;
        background: rgba(0, 0, 0, 0.2);
        border-width: 5px;
    }
    12% {
         transform: scale(1);
        opacity: 0.4;
        background: rgba(0, 0, 0, 0.1);
        border-width: 0;
    }
    50% {
        transform: scale(1);
        background: #00d478;
        border: 0;
        opacity: 0.6;
    }
    100% {
        transform: scale(1);
        background: #00d478;
        border: 0;
        opacity: 1;
    }
}
