body{
    font-family: "Varela Round";
}
.form-control {
    background: #F3F3F7;
    height: 47px;
    box-shadow: none;
    border-color: #D5D7DE;
    color: #2E3438;
    font-size: 15px;
    letter-spacing: 0.4px;
    transition: all ease 300ms;
}
.form-control::-webkit-input-placeholder{
    color: #D5D7DE;
}
.form-control:focus {
    border-color: #E77D4D;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 2px;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 96px;
}
.navbar-default .navbar-toggle{
    margin-top: 28px;
}
.navbar-nav > li > a {
    line-height: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 13px;
    color: #231F20;
}
.navbar-nav button{
    margin-top: 22px;   
    font-size: 13px;
} 
.navbar-form i{
    margin-top: 35px;
    position: absolute;
    margin-left: 30px;
    color: #D5D7DE;
}
.sidebar-nav .navbar-form .form-control{
    margin-top: 0;
    width: 220px;
}
.sidebar-nav .navbar-form i{
    margin-top: 14px;    
    margin-left: 8px;
}
.navbar-form .form-control{
    border: none;
    box-shadow: none;
    background: #F3F3F7;
    height: 46px;   
    margin-top: 18px;
    margin-left: 15px;
    padding-left: 40px;
    padding-top: 9px;
}
.navbar-form .form-control::-webkit-input-placeholder{
    color: #D5D7DE
}
.main-container{
    max-width: 1200px;
}
.btn{
    padding: 10px 35px;
}
.btn-primary{
    background: #E77D4D;
    border:none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus{
    background:#D36539;
}
.btn-lg{
    padding: 12px 50px;
    font-size: 14px;
}
.no-padding-container{
    padding-left: 0;
    max-width: 1200px;
}
label{
    font-size: 12px;
    text-transform: uppercase;
    color: #D5D7DE;
}
.label{
    color: #231F20;
    text-transform: inherit;
    font-size: 12px;
}
.lable-text{
    margin-top: 5px;
}

.or-line{
    height: 516px;
    width: 1px;
    background: #D5D7DE;
    margin: 0 auto;
}
.or {
    color: #D5D7DE;
    background: #fff;
    margin-top: -285px;
    text-align: center;
}
.or-xs{
    color: #D5D7DE;
}

.social-logins .btn{
    border:none;
    margin: 15px auto;
}
.social-logins .facebook{
    background: #507CBE;
}
.social-logins .google{
    background: #DD4835;
}
.social-logins .twitter{
    background: #66C8EF;
}

.step-bar {
    margin: 0 auto;
    display: table;
    margin-top: 45px;
    margin-bottom: 10px;
}
.step-bar .step{
    float: left;
    display: inline-block;
    width:30px;
    height:30px;
    background: #fff;
    border-radius: 50%;
    border:2px solid #D5D7DE;
}
.step-bar .step.done{
    background: #E77D4D;
    border:none;
    color: #fff;
    padding: 6px 9px;
}
.step-bar .step.active{ 
    border:none;
    color: #E77D4D;
    padding: 10px 11px;
    font-size: 9px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.23);
}
.step-bar .step-line {
    width: 80px;
    height: 2px;
    background: #D5D7DE;
    float: left;
    margin-top: 15px;
}
.step-bar .step-line.done{
    background: #E77D4D;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}