/* get the styles for both icon*/
@import "http://cssicon.space/css/icons.css";

.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
    transition: all 0.4s ease;
}
/* this is merely a rough demo to showcase the potential of CSS ICON on animation, more crafted animation can go from here */
/*Not mobile view*/

@media(min-width:768px){
    .navbar-form .form-control{
        width: 285px;
    }
    .main-image-or-carousel {
        height: 640px;
        margin-left: -75px;
        overflow: hidden;
    }
    .carousel.cropped {
        transform: scale(1.22);
        top: 60px;
        left: -70px;
    }
    .social-logins{
        margin-top: 125px;
    }

}

/*Mobile View*/
@media(max-width:768px){
    .no-padding-container{
        padding-left: 15px;
    }
    .center-block-xs{
        margin: 0 auto;
        display: block;
    }
    .navbar-brand{
        float: initial;
        margin: 0 auto;
        display: table;
        text-align: center;
    }
    .menu-toggle-btn{
        height: 22px;
        width: 22px;
        position: absolute;
        left: 15px;
        top: 30px;
        font-size: 25px;
        transform: scale(1.4);
    }
    .step-bar .step-line {
        width: 40px;
    }


}
/*iPad*/
@media(min-width:1024px){
    .navbar-form .form-control{
        width: 530px;
    }
}
/*Bigger than laptop*/

@media(min-width:1366px){
    .navbar-form .form-control{
        width: 700px;
    }
}

